<table>
<tr>
  <th>Name</th>
  <th>Created At</th>
  <th>Actions</th>
</tr>

<% @storages.each do |storage| %>                    
    <tr>
      <td><%= storage.name %></td>
      <td><%= storage.created_at.strftime("%I:%M%p %m/%d/%Y") %></td>
      <td><%= link_to "Go to Storage", storage, class: "my-button" %>
      <%= link_to "Create", new_storage_url, class: "my-button" %>
      <%= link_to "Delete", storage, class: "my-button" %></td> 
    </tr>
  <% end %>
</table>