<table>
<tr>
  <th>Good Name</th>
  <th>Current amount on source</th>
  <th>Transfer amount</th>
  <th>Current amount on destination</th>
</tr>
<%= form_with model: @transfer, 
    url: transfers_url(src_storage_id: @src_storage_id, dest_storage_id: @dest_storage_id), 
    method: :post do |form| %>
<% @stocks_quantities.each do |stock| %>                    
    <tr>
      <td><%= stock.good_name %></td>
      <td><%= stock.src_quantity %></td>
      <td> <%= form.number_field "quantity[#{stock.good_id}]", min: 1, max: stock.src_quantity, use_two_digit_numbers: true %> </td>
      <td><%= stock.dest_quantity || 0%></td>
    </tr>
  <% end %>
</table>
<%= form.submit "Finish Transfer" %>
  <% end %>